<div class="spell-detail" *ngIf="spellDetails">
    <div class="casting-details">
        <div *ngIf=spellDetails.range>
            <h4>Range</h4>
            <p>{{spellDetails.range}}</p>
        </div>
        <div *ngIf=spellDetails.components>
            <h4>Components</h4>
            <p>{{spellDetails.components}}</p>
        </div>
        <div *ngIf=spellDetails.school>
            <h4>School</h4>
            <p>{{spellDetails.school.name}}</p>
        </div>
        <div *ngIf=spellDetails.casting_time>
            <h4>Casting Time</h4>
            <p>{{spellDetails.casting_time}}</p>
        </div>
    </div>
    <hr>
    <p class="description">{{ spellDetails.desc }}</p>

    <p class="higher_level" *ngIf=spellDetails.higher_level>
        {{spellDetails.higher_level}}
    </p>

    <p class="material" *ngIf=spellDetails.material>
        Material: {{spellDetails.material}}
    </p>
</div>